
services:
    db:
        image: postgres:16-alpine
        container_name: dev_db
        restart: always
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

    redis:
        image: redis:7-alpine
        container_name: dev_redis
        restart: always
        ports:
            - "6379:6379"

volumes:
  postgres_data: